h2.text-center “国家示范性高等职业院校建设计划”建设成效调查问卷
h4.text-center （合作企业问卷）
p 相关合作企业：
p 这是一份关于“国家示范性高等职业院校建设计划”建设成效的调查问卷。本调查试图从合作企业的视角了解项目院校通过实施“国家示范性高等职业院校建设计划”在增强办学活力、提高办学质量和增强服务能力等方面取得的成效。请您花费宝贵时间，仔细阅读题目后按您的实际情况作答。谢谢您的支持！
p.text-right “国家示范性高等职业院校建设计划”绩效报告研制组
p.text-right 二〇一六年四月
== render 'form'
