h2.text-center “国家示范性高等职业院校建设计划”实施成效调查问卷
h4.text-center （合作企业问卷）
p 相关合作企业的负责人：
p 您好！这是一份关于“国家示范性高等职业院校建设计划”实施成效的调查问卷。本调查试图从合作企业的视角了解项目院校通过实施“国家示范性高等职业院校建设计划”在增强办学活力、提高办学质量和增强服务能力等方面取得的成效，进而为今后的政策设计提供重要的决策参考。请您花费宝贵时间，仔细阅读题目后按您的实际情况作答。由于本次调查将对我国高职教育的后续改革提供极其重要的信息，所以您的填答将非常重要。再次恳请您给出最真实的信息！谢谢您的配合！
p.text-right 教育部职成司课题组
p.text-right 二〇一六年三月
== render 'form'
