h3 12.基本情况
= f.input :gender, collection: [['男', 1], ['女', 2]],as: :radio_buttons, include_blank: false
= f.input :grade, collection: [['大一', 1], ['大二', 2], ['大三', 3]],as: :radio_buttons, include_blank: false
= f.input :local, collection: [['乡镇', 1], ['县城', 2], ['地级及以上城市', 3]],as: :radio_buttons, include_blank: false
= f.input :hope, collection: [['不高', 1], ['一般', 2], ['较高', 3], ['非常高', 4]],as: :radio_buttons, include_blank: false
= f.input :learn_status, collection: [['较差', 1], ['中等偏下', 2], ['中等', 3], ['中等偏上', 4], ['优等', 5]],as: :radio_buttons, include_blank: false
= f.input :edu, collection: [['小学及以下', 1], ['初中', 2], ['高中或中专', 3], ['大专或本科', 4], ['研究生及以上', 5]],as: :radio_buttons, include_blank: false
= f.input :income, collection: [['低收入', 1], ['中低收入', 2], ['中等', 3], ['较富裕', 4], ['富裕', 5]],as: :radio_buttons, include_blank: false
= f.input :school
= f.input :subject_type, collection: [['农林牧渔、材料与能源类', 1], ['交通运输类、资源开发与测绘类', 2], ['生化与药品、医药卫生类', 3], ['土建、水利类', 4],
                                      ['制造、自动化、电子信息类', 5], ['环保、气象与安全类', 6], ['轻纺食品类', 7], ['财经类', 8],
                                      ['公共事业、旅游、文化教育类', 9], ['艺术设计传媒大类', 10], ['公安、法律类 ', 11], ['其他', 12]],as: :radio_buttons, include_blank: false
= f.input :position, collection: [['东部地区', 1], ['中部地区', 2], ['西部地区', 3]],as: :radio_buttons, include_blank: false
= f.input :school_position, collection: [['乡镇', 1], ['县城', 2], ['地级市', 3], ['省会城市', 4], ['直辖市', 5]],as: :radio_buttons, include_blank: false
= f.input :known, collection: [['是', 1], ['否', 2], ['不知道', 3]],as: :radio_buttons, include_blank: false
