h3 高职院校人才培养成效调查问卷
p 亲爱的同学：
p 您好！这是一份关于高职院校人才培养成效的调查问卷。本调查试图通过每位学生对自身学习成效的真实反馈，了解当前的学生学习现状，进而为提高人才培养质量、提升学生满意度等相关改革提供重要的决策参考。请花费您一点宝贵时间，仔细阅读题目后按您的实际情况作答。问卷不需记名，答案也无对错，因此您不需要有任何顾虑。由于本次调查将对我国高职教育的后续改革提供极其重要的信息，所以您的填答将非常重要。再次恳请您给出最真实的信息！谢谢您的配合！
p.text-right 教育部职成司课题组
p.text-right 二〇一六年三月
== render 'form'
