<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>国家示范性高等职业院校建设计划”实施成效调查问卷档</title>
<style type="text/css">
body {
	background-repeat: repeat;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #444;
}
#sec_title {
	font-size: 18px;
	text-align: center;
}
.right {
	text-align: right;
}
#dc_title {
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
}
</style>
</head>

<body>
<div id="dc_title">“国家示范性高等职业院校建设计划”实施成效调查问卷</div>
<p id="sec_title">（项目院校问卷）</p>
<p>各项目院校负责人：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;您好！这是一份关于“国家示范性高等职业院校建设计划”实施成效的调查问卷。本调查试图了解项目院校通过实施“国家示范性高等职业院校建设计划”在增强办学活力、提高办学质量和增强服务能力等方面取得的成效，进而为今后的政策设计提供重要的决策参考。请您花费宝贵时间，仔细阅读题目后按您的实际情况作答。由于本次调查将对我国高职教育的后续改革提供极其重要的信息，所以您的填答将非常重要。再次恳请您给出最真实的信息！谢谢您的配合！</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<p class="right">教育部职成司课题组</p>
<p class="right">二〇一六年三月</p>
<p >请各项目院校将填写后的问卷电子稿于4月25日前发送至<a href="mailto:yongjinzheng@163.com">yongjinzheng@163.com</a> 。谢谢！</p>
<p >调查问卷下载：<a href="项目院校问卷.doc">项目院校问卷.doc</a></p>

</body>
</html>
