div.form-group
  = f.label question.name
  = f.select question.question_no, options_for_select({"非常不同意" => '1', "不同意" => '2', "较不同意" => '3', "较同意" => '4', "同意" => '5', "非常同意" => '6'}),{}, {class: "form-control"}
