div.form-group
  = f.input question.question_no, collection: {"非常不同意" => '1', "不同意" => '2', "较不同意" => '3', "较同意" => '4', "同意" => '5', "非常同意" => '6'}, 
            as: :radio_buttons, label: question.name, class: "form-control"
