div.form-group
  = f.input question.question_no, collection: {"没有进步" => '1', "较小进步" => '2', "较大进步" => '3', "很大进步" => '4'}, 
            as: :radio_buttons, label: question.name, class: "form-control"
