div.form-group
  = f.input question.question_no, collection: {"极少" => '1',
             "较少" => '2', "一般" => '3', "较多" => '4', "经常" => '5'}, 
             as: :radio_buttons, label: question.name, class: "form-control"
