div.form-group
  = f.input question.question_no, collection: {"很不满意" => '1', "不满意" => '2', "较不满意" => '3', "较满意" => '4', "满意" => '5', "非常满意" => '6'}, 
            as: :radio_buttons, label: question.name, class: "form-control"
